<% content_for :title do %>Error de autenticación de <%= @user ? @user.username : 'usuario' %><% end %>

<div class="CDB-Text <%= @organization.present? ? 'Sessions' : 'Sessions-navy' %>" style="<%= @organization.present? ? background : '' %>">
  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="u-inner">
        <div class="Sessions-center Sessions--centered">
          <div class="Sessions-logoContainer">
            <picture class="Navbar-brand">
              <% if @organization.present? && @organization.avatar_url.present? %>
                <img src="<%= @organization.avatar_url %>" alt="<%= @organization.name %> organization">
              <% else %>
                <% if @organization.present? %>
                  <%= image_tag("agroviz/logo/agroviz-gradient_logo_combination.svg", :alt => "Agroviz") %>
                <% else %>
                  <%= image_tag("agroviz/logo/agroviz-white_logo_combination.svg", :alt => "Agroviz") %>
                <% end %>
              <% end %>
            </picture>
          </div>

          <div class="js-info">
            <h1 class="Sessions-title u-tspace-m">Valida tu dirección de email</h1>
              <p class="Sessions-description">Por favor, comprueba tu bandeja de entrarda y haz click en el botón "Activar cuenta" en el email de bienvenida.</p>

            <% if @user %>
              <p class="Sessions-description">Si no has recibido un email de validación, haz click <a href="<%= CartoDB.url(self, 'resend_validation_mail', :user_id => @user.id) %>">aquí</a> y te enviaremos un nuevo email.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
