<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>Te han invitado a Agroviz como parte de la organización <strong><%= @organization.name_to_display %></strong>. Por favor, inicia sesión con tu usuario de la organización (<%= @user.username %>) y la contraseña <%= @user_needs_password ? 'proporcionada por el/la administrador/a' : 'que introdujiste' %><%= ' una vez actives tu cuenta' unless @enable_account_link.nil? %>.</p>

    <% if @user_needs_password %>
      <p>Si no has recibido tu contraseña, contacta con el/la administrador/a en <strong><%= @owner.email %></strong>.</p>
    <% end %>
  </td>
</tr>

<% if @enable_account_link.nil? %>
  <%= render partial: 'mailer_modules/link_to_action', locals: { link: @link, link_text: 'Ir al dashboard' } %>
<% else %>
  <%= render partial: 'mailer_modules/link_to_action', locals: { link: @enable_account_link, link_text: 'Activa tu cuenta' } %>
<% end %>
