<div class="ApiKeysForm-container">
  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor FormAccount-label">Tu clave API</label>
    </div>
    <div class="FormAccount-rowData">
      <input type="text" class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--long" placeholder="No API key" value="<%= current_user.api_key %>" readonly />
      <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <a class="CDB-Size-medium js-regenerateApiKey" href="#">Solicitar nueva clave API</a>
      </div>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor FormAccount-label FormAccount-label--verticalAlignTop">Ejemplo de escritura</label>
    </div>
    <div class="FormAccount-rowPreview">
      <% if CartoDB.subdomainless_urls? %>
      <p class="CDB-Size-small FormAccount-text FormAccount-text--preview">https://<%= CartoDB.account_host %>/user/<%= current_user.username %>/api/v2/sql?q=INSERT INTO table_name (the_geom, observation) VALUES (ST_GeomFromText(’POINT(-71.2 42.5)’, 4326),'rare bird spotted')&api_key=<%= current_user.api_key %></p>
      <% else %>
      <p class="CDB-Size-small FormAccount-text FormAccount-text--preview">https://<%= current_user.username %>.<%= CartoDB.account_host %>/api/v2/sql?q=INSERT INTO table_name (the_geom, observation) VALUES (ST_GeomFromText(’POINT(-71.2 42.5)’, 4326),'rare bird spotted')&api_key=<%= current_user.api_key %></p>
      <% end%>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor FormAccount-label FormAccount-label--verticalAlignTop">Ejemplo de lectura privada</label>
    </div>
    <div class="FormAccount-rowPreview">
      <% if CartoDB.subdomainless_urls? %>
      <p class="CDB-Size-small FormAccount-text FormAccount-text--preview">https://<%= CartoDB.account_host %>/user/<%= current_user.username %>/api/v2/sql?q=SELECT * FROM private_table&api_key=<%= current_user.api_key %></p>
      <% else %>
      <p class="CDB-Size-small FormAccount-text FormAccount-text--preview">https://<%= current_user.username %>.<%= CartoDB.account_host %>/api/v2/sql?q=SELECT * FROM private_table&api_key=<%= current_user.api_key %></p>
      <% end %>
    </div>
  </div>

  <% if show_google_api_keys?(current_user) %>
    <div class="FormAccount-title">
      <p class="FormAccount-titleText">Configura claves API de proveedores externos</p>
    </div>

    <span class="FormAccount-separator"></span>

    <div class="FormAccount-row">
      <div class="FormAccount-rowLabel">
        <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor FormAccount-label">Google Maps</label>
      </div>
      <div class="FormAccount-rowData">
        <input type="text" value="<%= current_user.organization.present? ? current_user.organization.google_maps_private_key : current_user.google_maps_private_key %>" class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--long is-disabled" readonly />
      </div>
      <div class="FormAccount-rowInfo">
        <% if !current_user.organization.present? %>
          <p class="CDB-Text CDB-Size-small u-altTextColor">
            Este es tu query string de Google Maps, contacta con <a href="mailto:support@agroviz.com">support@agroviz.com</a> para cambiarlo.
          </p>
        <% elsif current_user.organization.present? && current_user.organization_owner? %>
          <p class="CDB-Text CDB-Size-small u-altTextColor">
            Este es el query string de Google Maps de <%= current_user.organization.name %>, contacta con <a href="mailto:support@agroviz.com">support@agroviz.com</a> para cambiarlo.
          </p>
        <% else %>
          <p class="CDB-Text CDB-Size-small u-altTextColor">Esta es la clave API de Google Maps de la organización.</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="FormAccount-footer">
  <p class="FormAccount-footerText">
    <i class="CDB-IconFont CDB-IconFont-info FormAccount-footerIcon"></i>
    <span>Aprender más acerca de cómo <%= link_to "usar tu clave de API", Cartodb.config[:developers_host] + "/carto-editor/your-account/#api-key" %> en Agroviz</span>
  </p>
</div>
