<div class='TL-Header'>
  <div class='TL-Header-inner'>
    <div class='TL-Header-row1'>
       <a href="<%= CartoDB.url(self, 'root') %>" alt="Agroviz">
         <div class='TL-HeaderLogo'></div>
       </a>
    </div>

    <div class='TL-Header-row2'>
      <ul class='TL-HeaderMenu'>
        <li class='TL-HeaderMenu-item'><%= link_to "Mapas", CartoDB.url(self, 'maps_index', {}, current_user) %></li>
        <li class='TL-HeaderMenu-item'><%= link_to "Datasets", CartoDB.url(self, 'datasets_index', {}, current_user) %></li>
        <% if current_user.has_feature_flag?('agroguia-link') %>
          <li class='TL-HeaderMenu-item'><%= link_to "Agroguía", CartoDB.url(self, 'maps_agroguia', {}, current_user) %></li>
        <% end %>
      </ul>
    </div>

    <div class='TL-Header-row3'>
      <div class='TL-HeaderAvatar' style="background-image: url('<%= current_user.avatar %>');"></div>
      <div class='TL-HeaderDropdown'>
        <div class='TL-HeaderDropdown-info'>
          <p class='TL-HeaderDropdown-username'><%= current_user.name_or_username %></p>
          <% if current_user.organization.present? %>
            <p class='TL-HeaderDropdown-orgName'><%= current_user.organization.name %></p>
          <% end %>
        </div>
        <ul class='TL-HeaderDropdown-menu'>
          <li class='TL-HeaderDropdown-menuItem'><%= link_to "Configuración de cuenta", CartoDB.url(self, 'account_user', {}, current_user) %></li>
          <% if current_user.organization.present? && current_user.organization_owner? %>
            <li class='TL-HeaderDropdown-menuItem'><%= link_to "Configuración de organización", CartoDB.url(self, 'organization_settings', {}, current_user) %></li>
          <% end %>
          <% if current_user.has_feature_flag?('agroguia-link') %>
            <li class='TL-HeaderDropdown-menuItem'><%= link_to "Agroguía", CartoDB.url(self, 'maps_agroguia', {}, current_user) %></li>
          <% end %>
          <li class='TL-HeaderDropdown-menuItem'><%= link_to "Salir", CartoDB.url(self, 'logout', {}, current_user) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
