<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title><%= yield :page_title -%>CARTO</title>
    <%= favicon_link_tag "/favicons/favicon.ico" -%>
    <%= stylesheet_link_tag 'editor3', 'deep_insights.css', :media => 'all' %>
    <%= csrf_meta_tag -%>
  </head>
  <body>
    <!-- include google maps library -->
    <!-- TODO: Replace with a REAL key (this is Pablo's key) -->
    <script type="text/javascript" src="http://www.maps.google.com/maps/api/js?key=AIzaSyCk5gRspKeHNJ0sS6iZotUsQvlAkXsieFg&v=3.25"></script>

    <%= yield %>
    <%= yield :js -%>
    <%= insert_google_analytics('primary') -%>
    <%= insert_hubspot() -%>
    <%= render 'admin/shared/intercom' %>
  </body>
</html>
